/.bundle/
/banned-ips.json
/banned-players.json
/eula.txt
/logs/
/minecraft_server.jar
/ops.json
/server.properties
/server-icon.png
/usercache.json
/vendor/
/whitelist.json
/plugin/count.dat
/plugin/backup.rb
/EjectCraft/
